body {
    font-family: 'Dosis', sans-serif;
    
}

header {
    margin: auto;
    text-align: center;
    width: 60%;
}

header a {
    color: #000;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

a.left-underline {
    position: relative;
}
  
a.left-underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
  
a.left-underline:hover:before {
    visibility: visible;
    width: 100%;
}

#movies {
    margin: auto;
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#movies h3 {
    margin: auto;
    text-transform: uppercase;
    width: 150px;
    height: 75px;
}

#movies p {
    font-size: 12px;
}

.movie {
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.movie img{
   
    width: 150px;
    border-radius: 10px;
}

@media(max-width: 1150px) {
    #movies {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 900px) {
    #movies {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 750px) {
    #movies {
        grid-template-columns: 1fr 1fr;
    }
}